$grid-max-width: 1024px !default;

$grid-margin: 1% !default;
$grid-padding: 1% !default;

$grid-full-width: 100% - 2($grid-margin);
$grid-half-width: 50% - 2($grid-margin);
$grid-fourth-width: 25% - 2($grid-margin);
$grid-three-fourth-width: 75% - 2($grid-margin);
$grid-third-width: 33.33333% - 2($grid-margin);
$grid-two-third-width: 66.66666% - 2($grid-margin);


html, body { width: 100%; height: 100%; margin: 0; padding: 0;}

.col {
	padding: $grid-padding;
	margin: $grid-margin;
	display: block;
	float: left;
	@include box-sizing(border-box);
}

